* {
    padding: 0px;
    margin: 0px;
    max-width: 1366px;
    font-family: Arial, 'Trebuchet MS', sans-serif;
}




/* header section starts from here */


.header {
    background-image: url(images/banner/banner1.png);
    background-position: left;
    background-repeat: no-repeat;
    width: 1366px;
    height: 768px;
    display: flex;

}

.header-all-text {
    margin: 0 auto;
    margin-left: 800px;
    margin-top: 170px;
    color: #000000;
    font-family: 'Work Sans';




}

.header-title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    text-align: right;
    margin-bottom: 20px;
    font-size: 65px;


}

.header-description {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    margin-bottom: 22px;
    font-size: 15px;
}

.btn-primary {
    width: 120px;
    height: 50px;
    margin-left: 300px;
    background-color: #e26714;
    color: #ffffff;
    border: 0;
    border-radius: 5px;
    font-family: 'Work Sans' Arial, Helvetica, sans-serif;
    font-size: 20px;
}





/* article section starts from here */



.person {
    background-color: #ffffff;

}


article {
    margin: 100px 100px;
    display: flex;


}


.article {

    margin-top: 250px;
    margin-left: 100px;
}

.article-title {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;

}

.article-description {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 50px;
    color: #444343;


}

.tick {
    height: 20px;
    width: 20px;
    margin-top: 10px;
    color: #444343;



}



/*  main/skills  section starts from here */



.skills-title {
    width: 1366px;
    text-align: center;
    font-size: 40px;
    margin-top: 130px;
}




.skills {
    display: flex;
    background-color: #ffffff;
    height: 250px;
    width: 1066px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 10px;
    background-color: #ffffff;


}


.skill {
    padding-right: 50px;
    padding-left: 60px;
    padding-top: 30px;
    color: #dadada;
    margin: 0 auto;







}


.skill-sub-title {
    text-align: center;
    display: flex;
    justify-content: center;
    color: #000000;
    font-weight: bold;
    font-family: Arial, 'Trebuchet MS', sans-serif;

}


.motive {
    text-align: center;
    color: #6b6b6b;

}

.skill img {
    padding-left: 10px;
    margin: 0 auto;

}

#web {
    margin-left: 22px;
}





/* gradient-image */




.gradiant-whole {
    display: flex;
    position: relative;


}





.gradiant-image {
    width: 1000px;
    margin-left: 183px;
    margin-right: 183px;
    background-image: url(./images/watch.png);
    margin-bottom: 150px;
    border-radius: 10px;

}


.gradiant-text {
    position: absolute;
    margin-left: 250px;
    margin-top: 60px;
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;


}

.btn {
    margin-top: 15px;
    background-color: #ffffff;
    width: 40px;
    border: 0px;
    border-radius: 5px;
    width: 135px;
    height: 50px;
    left: 294px;
    font-size: 18px;
}





/* about section starts from here */


.about {
    max-width: 1366px;
    width: 600px;
    height: 200px;
    margin-left: 280px;
    margin-bottom: 120px;
    background-color: rgba(226, 102, 20, 0.199);
    text-align: center;
    padding: 100px;

}


.sec-title {
    font-size: 25px;
    margin-bottom: 10px;

}

.sec-description {
    font-size: 20px;
    color: #444343;
}






/* footer starts from here */



.footer {
    display: flex;
    justify-content: space-between;
    background-color: #151414;
    height: 400px;
    width: 1366px;

}

.footer-title {

    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 260px;
    color: #ffffff;
    font-family: Arial, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;



}

.footer-description {
    color: #dadada;
    font-family: Arial, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding: 20px 0px;

}




.input-section {
    padding-right: 300px;
    padding-top: 80px;
    padding-bottom: 60px;
    padding-left: 150px;


}



.input-title {

    color: #ffffff;

    font-family: Arial, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;

}




#mail {
    width: 250px;
    height: 50px;
    padding-left: 10px;
    margin-top: 15px;
    border-radius: 8px;
    background-color: #151414;
    border: 1px solid white;
    font-size: 15px;
    color: rgb(255, 255, 255);


}

.btn-secondary {
    color: #e26714;
    width: 150px;
    height: 50px;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 15px;
    font-family: Arial, 'Trebuchet MS', sans-serif;
}